<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>KidNest</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-screen flex justify-center items-center">
    <div>
    <form class="p-[20px] bg-neutral-300">
      <fieldset
        x-data="{ showPassword: false }"
        class="relative rounded-lg border-[1px] border-[#ECECEC] has-[:focus]:ring-0 has-[:focus]:border-blue-600"
      >
        <legend class="px-[10px] mx-[10px] font-normal bg-transparent text-[14px] md:text-[16px] text-gray-500 dark:text-gray-400">{{ $placeholder }}</legend>
        <input x-bind:type="{{ $xbindType }}" id="{{ $name }}" placeholder="{{
        $place }}" name="{{ $name }}" value="{{ $value }}" {{ $disabled ?
        'disabled' : '' }} {{ $required ? 'required' : '' }} class="block
        py-[17.5px] px-[15px] md:py-[19px] md:px-[20px] w-full text-sm
        text-gray-900 bg-transparent appearance-none focus:outline-none
        focus:ring-0 focus:border-blue-600 peer placeholder:text-[#000] peer" />
        @if ($icon)
        <div
          class="absolute right-[15px] md:right-[20px] top-[15px] md:top-[20px]"
        >
          <img src="{{ asset($icon) }}" alt="icon" class="w-[20px] h-[20px]" />
        </div>
        @endif @if ($passwordToggle)
        <div
          @click="showPassword = !showPassword"
          class="cursor-pointer absolute right-[15px] md:right-[20px] top-[15px] md:top-[20px]"
        >
          <img
            x-bind:src="showPassword ? '{{ asset('assets/images/user/eye-closed.svg') }}' : '{{ asset('assets/images/user/eye.svg') }}'"
            alt="icon"
            class="w-[20px] h-[20px]"
          />
        </div>
        @endif
      </fieldset>
     </div>
    </form>
  </body>
</html>
